{% extends 'base.html.twig' %}

{% block title %}Article: {{ article }}{% endblock %}

{% block body %}
<h1> {{ article }}</h1>


<p>  Future content of the article </p>

<h2>
    Comments: ({{ comments|length }})
</h2>

<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>
{% endblock %}